doctype html
html
  head
    title Car License Plate
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    style.
      body,html{
      height: 100%;
      }
      .jumbotron{
      height:100%;
      }
  body
    .jumbotron
      .container
        .row
          .col-sm-12.d-flex.justify-content-center
            #checkValid.text-danger.font-weight-bold(style='visibility: hidden;') Invalid Format!
        .row
          .col-sm-12.d-flex.justify-content-center
            .row
              .col-sm-2
                .form-group
                  label(for='number') Code:
                  input#initial.form-control(type='text', placeholder='Code No (1A)')
              .col-sm-3
                .form-group
                  label(for='number') Car Number:
                  input#number.form-control(type='text', placeholder='Number (9999)')
              .col-sm-2
                .form-group
                  label(for='number') Hour:
                  input#hour.form-control(type='text', placeholder='24 hour format')
              .col-sm-3
                .form-group
                  label(for='date') Date:
                  input#date.form-control(type='date')
              .col-sm-2
                .form-group
                  label(style='visibility:hidden;') Example Text
                  button.form-control.btn.btn-secondary(onclick='onClickMethod()', type='button') Find
      .container-fluid
        .d-flex.justify-content-center
          table.table.table-hover.table-striped
            thead.table-success
              tr
                th #
                th Car Number
                th Time
                th Date
            tbody#tableBody
              tr
                td 1
                td AA/888
                td 23:08
                td 23.4.2018
              tr
                td 1
                td AA/888
                td 23:08
                td 23.4.2018
              tr
                td 1
                td AA/888
                td 23:08
                td 23.4.2018
    script.
      function onClickMethod(){
      var tableBody = document.getElementById("tableBody");
      while (tableBody.firstChild) {
      tableBody.removeChild(tableBody.firstChild);
      }
      var carInitial = document.getElementById("initial").value.toUpperCase();
      var carNumber = document.getElementById("number").value;
      var calendar = document.getElementById("date").value;
      var hour = document.getElementById("hour").value;
      var validText = document.getElementById("checkValid");
      var url = "";
      if (carInitial == "" && carNumber == ""){
      var date = new Date(calendar);
      var day = date.getDate();
      var month = date.getMonth()+1;
      var year = date.getFullYear();
      validText.style.visibility = "hidden";
      if (hour == "" && calendar != ""){
      url = "/getbydate?day="+day+"&month="+month+
      "&year="+year;
      console.log("Date Only");
      }
      else if (hour != "" && calendar == ""){
      url = "/getbyhour?hour="+hour;
      console.log("Hour only");
      }
      else{
      url ="/getbydateandhour?day="+day+"&month="+month+
      "&year="+year+"&hour="+hour;
      console.log("Date and Hour")
      }
      }else if (carInitial !="" && carNumber !="" && hour == "" && calendar != "") {
      var date = new Date(calendar);
      var day = date.getDate();
      var month = date.getMonth()+1;
      var year = date.getFullYear();
      validText.style.visibility = "hidden";
      url = "/getbycaranddate?initial="+carInitial+"&number="+carNumber+"&day="+day+"&month="+month+
      "&year="+year;
      console.log("Car No and Date");
      }else if (carInitial !="" && carNumber !="" && calendar == "" && hour == ""){
      url = "/getbycar?initial="+carInitial+"&number="+carNumber;
      console.log("Car No Only");
      }else if (carInitial != "" && carNumber != "" && hour != "" && calendar != ""){
      var date = new Date(calendar);
      var day = date.getDate();
      var month = date.getMonth()+1;
      var year = date.getFullYear();
      url = "/getfulldata?initial="+carInitial+"&number="+carNumber+"&day="+day+"&month="+month+
      "&year="+year+"&hour="+hour;
      console.log("Full Find");
      }else if (carInitial != "" && carNumber != "" && hour != "" && calendar == ""){
      url = "/getbycarandhour?initial="+carInitial+"&number="+carNumber+"&hour="+hour;
      console.log("Car No and Hour");
      }
      ajaxSend(url,tableBody);
      }
      function ajaxSend(url,tableBody){
      var xhr = new XMLHttpRequest();
      xhr.open("GET",url, true);
      xhr.onload = function (e) {
      if (xhr.readyState === 4) {
      console.log("Ajax");
      if (xhr.status === 200) {
      var json = JSON.parse(xhr.responseText);
      createTable(tableBody,json);
      console.log(xhr.responseText.length);
      } else {
      console.error(xhr.statusText);
      }
      }
      };
      xhr.onerror = function (e) {
      console.error(xhr.statusText);
      };
      xhr.send(null);
      }
      function createTable(tableBody,json){
      for (var i = 0 ; i < json.length ; i++){
      var row = document.createElement("tr");
      var number = i+1;
      number = number.toString();
      var td1 = document.createElement("td");
      td1.innerHTML = number;
      var td2 = document.createElement("td");
      td2.innerHTML = json[i].initial+"/"+json[i].number;
      var td3 = document.createElement("td");
      td3.innerHTML = json[i].hour+":"+json[i].minute;
      var td4 = document.createElement("td");
      td4.innerHTML = json[i].day +"."+json[i].month+"."+json[i].year;
      row.appendChild(td1);
      row.appendChild(td2);
      row.appendChild(td3);
      row.appendChild(td4);
      tableBody.appendChild(row);
      }
      }
    //
